{% extends "blog/base.html" %}
{% load crispy_forms_tags %} <!-- django utility for form styling -->
{% block content %}
    <div class="content-section"> <!--css styling-->
        <form method="POST"> <!--design form-->
            {% csrf_token %} <!--for security of forms-->
            <fieldset class="form-group"> <!--for coordinationg different group elements-->
                <legend class="border-bottom mb-4">Reset Password</legend> <!--mb = margin bottom-->
                <!--{{ form.as_p }}--> <!--{{ form }} we can access our form by this double  curly braces-->
                <!--{{ form.as_p }} diffrent form elements in different paragraph-->
                {{form|crispy}} <!--{{ form|crispy enables the styling. we used something similar in 
                home.html }}-->
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Request Reset Password</button>
            </div>
        </form>
        
    </div>
{% endblock content %}
